---
import ScreenBody from "@components/layouts/ScreenBody.astro";
import ScreenLayout from "@layouts/ScreenLayout.astro";
import NavBar from "@components/layouts/NavBar.astro";
import Banner from "@components/UI/Banner.astro";
import StudioLink from "@src/components/UI/StudioLink.astro";

const nav = [
    {
        href: "/studio/straps/strapsCollection",
        title: "Коллекция мануфактуры",
        description: "Фирменные сочетания, разработанные Константином Чайкиным",
    },
    {
        href: "/studio/straps/strapsProduce",
        title: "Индивидуальный пошив",
        description:
            "Создайте ремешок, который существует в единственном экземпляре",
    },
];
---

<ScreenLayout>
    <ScreenBody hasNavbr>
        <Banner
            bg="/img/studio/straps/straps-banner.jpg"
            blackLink="/studio"
            title="Ателье ремешков"
            description="Bespoke-ремешки, коробки и документы"
        />
        <div class="-mx-4">
            {
                nav.map((item) => (
                    <StudioLink
                        href={item.href}
                        title={item.title}
                        description={item.description}
                    />
                ))
            }
        </div>
    </ScreenBody>
</ScreenLayout>
<NavBar />
