.iti {
    width: 100%;
    ~ .c-input__label {
        top: 0.875rem;
        font-size: 0.75rem;
        color: var(--color-primary);
    }
    .iti__selected-country-primary {
        padding-top: 0.875rem;
        padding-left: 0.75rem;
    }
}

::view-transition-old(page) {
    animation: 500ms ease forwards slide-out;
}

::view-transition-new(page) {
    animation: 500ms ease forwards slide-in;
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50px);
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
