---
import ScreenBody from "@components/layouts/ScreenBody.astro";
import ScreenLayout from "@layouts/ScreenLayout.astro";
import NavBar from "@components/layouts/NavBar.astro";
import Banner from "@components/UI/Banner.astro";
import StudioLink from "@src/components/UI/StudioLink.astro";
import UquipSheet from "@src/components/sheets/UquipSheet.astro";

const nav = [
    {
        title: "Фирменная шкатулка",
        description: "Дерево/Лак/Кожа",
        dataSheetOpen: "box",
    },
    {
        title: "Пакет документов",
        description: "Дубликаты инструкций, сервисная книжка",
        dataSheetOpen: "box",
    },
    {
        title: "Гарантийная карта",
        description: "Физический пластик с голограммой",
        dataSheetOpen: "box",
    },

    {
        title: "Архивная выписка",
        description: "Полный цифровой паспорт .pdf",
        dataSheetOpen: "box",
    },
];
---

<ScreenLayout>
    <ScreenBody hasNavbr>
        <Banner
            bg="/img/studio/equipment/equipment-banner.jpg"
            blackLink="/studio"
            title="Комплектация и аксессуары"
            description="Bespoke-ремешки, коробки и документы"
        />
        <div class="-mx-4">
            {
                nav.map((item) => (
                    <StudioLink
                        variant="minimal"
                        title={item.title}
                        description={item.description}
                        dataSheetOpen={item.dataSheetOpen}
                    />
                ))
            }
        </div>
    </ScreenBody>
</ScreenLayout>
<NavBar active="studio" />
<UquipSheet />
