<!-- ---
// src/pages/example.astro
import ScreenLayout from "@src/layouts/ScreenLayout.astro";
import BottomSheet from "@components/layouts/BottomSheet.astro";
import ScreenBody from "@src/components/layouts/ScreenBody.astro";
---

<ScreenLayout>
    <ScreenBody hasNavbr>
        <button
            type="button"
            class="bg-primary text-white px-4 py-2 rounded-xl"
            data-sheet-open="filters"
            >Открыть фильтры
        </button>
    </ScreenBody>
    <BottomSheet id="filters">
        <div class="grid gap-3">
            <p>Контент фильтров</p>

            <button
                type="button"
                class="bg-card border border-line px-4 py-2 rounded-xl"
                data-sheet-open="sort"
                >Открыть сортировку поверх
            </button>
        </div>
    </BottomSheet>
    <BottomSheet id="sort">
        <div class="grid gap-3">
            <p>Контент сортировки</p>
        </div>
    </BottomSheet>
</ScreenLayout> -->
