---
import { BadgeCheck, CalendarPlus } from "@lucide/astro";
import NavBar from "@src/components/layouts/NavBar.astro";
import ScreenBody from "@src/components/layouts/ScreenBody.astro";
import Banner from "@src/components/UI/Banner.astro";
import Button from "@src/components/UI/Button.astro";
import Input from "@src/components/UI/Input.astro";
import Textarea from "@src/components/UI/Textarea.astro";
import Title from "@src/components/UI/Title.astro";
import ScreenLayout from "@src/layouts/ScreenLayout.astro";
---

<ScreenLayout>
    <ScreenBody hasNavbr>
        <Banner bg="/img/hub/banner-3.jpg" size="medium" blackLink="/hub" />
        <div class="mt-4 grid gap-4">
            <div class="grid gap-2.5">
                <Title as="h2">Визит в ателье</Title>
                <p class="text-medium">
                    Мануфактура открыта для владельцев часов по предварительной
                    договоренности. Мы покажем вам, как создаются ваши часы.
                </p>
            </div>
            <div class="grid gap-2.5 grid-cols-2">
                <Input type="date" name="visit-date" label="Дата" />
                <Input type="time" name="visit-time" label="Время" />
                <Textarea
                    class="col-span-2"
                    name="visit-notes"
                    placeholder="Текст комментария"
                />
            </div>
            <Button variant="primary"> Записаться </Button>
        </div>
    </ScreenBody>
</ScreenLayout>

<NavBar active="access-hub" />
