---
interface Props {
    id: string;
}

const { id } = Astro.props;
---

<div class="as-sheet-item" data-sheet-id={id}>
    <div class="as-backdrop" data-sheet-backdrop></div>
    <div class="as-sheet" data-sheet-panel role="dialog" aria-modal="true">
        <div class="as-handle" data-sheet-handle></div>
        <slot />
    </div>
</div>
