---
import "../styles/main.scss";
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/intl-tel-input@26.7.5/build/css/intlTelInput.css"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/intl-tel-input@26.7.5/build/js/intlTelInput.min.js"
        ></script>
        <script type="module" src="/scripts/global.js"></script>
        <script type="module" src="/scripts/sheet.js"></script>
    </head>
    <body class="font-golos leading-tight text-sm" x-data>
        <slot />
    </body>
</html>
